body {
    font-family: "Bebas Neue", sans-serif;
    margin: 0;
    padding: 0;
    background-color: #3d3842;
}

header {
    background-color: #333;
    color: white;
    padding: 5px 0;
}

header h1 {
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 30px 0px;
    margin: 0px 5px;
    text-align: center;
    background-color: #441f69;
}

nav ul li {
    display: inline;
    margin: 10px 200px;
}

nav ul li a {
    font-size: 20px;
    color: white;
    text-decoration: none;
}
.form-container {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    width:500px;
    max-width: 500px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

label {
    text-align: left;
    margin: 0 0 5px 5px;
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.form{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.membership-info h2 {
    margin: 0;
    padding: 10px 0;
}
main {
    padding: 20px;
    text-align: center;
}
.container {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 1;
}

.right {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 100%;
    height: auto;
}
.gym-img{
    max-width: 60%;
    height: auto;
}
.branch-link {
    color: #6791b1;
    font-size: 30px;
    text-decoration: none;
}
.branch-name{
    color:white;
    font-size: 40px;
}
.branch-info{
    font-size: 15px;
    color:  #260f3c;
}
.home-title{
    color: #ffffff;
    font-size: 45px;
    text-decoration: none;
    background-color: #260f3c;
}

.membership-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.membership-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    justify-content: center;
}

.membership-list li {
    margin: 10px;
    display: flex;
}

.membership-block {
    background-color: #f0f0f0;
    padding: 20px;
    border: 1px solid #ccc;
    margin: 10px;
    width: 300px;
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.membership-button{
    font-family: "Bebas Neue", sans-serif;
    background-color: #224468;
    color: white;
    padding: 30px 100px;
    margin: 17px 0;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.membership-button:hover{
    font-size:35px ;
    padding: 35px 115px;
    background-color: #19334e;
}
.validation-error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.membership-block h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.membership-block p {
    font-size: 16px;
    color: #333;
}
.home-title:hover{
    text-decoration: underline;
}
.branch-link:hover {
    text-decoration: underline;
}
.route-title{
    background-color: white;
    font-size: 35px;
}
.select-city{
    font-family: "Bebas Neue", sans-serif;
    background-color: #ffffff;
    color: #0e2639;
    padding: 4px 4px;
    margin: 20px 20px;
    border: none;
    border-radius: 5px;
    font-size: 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.branches-button{
    font-family: "Bebas Neue", sans-serif;
    background-color: #3e8c40;
    color: white;
    padding: 10px 30px;
    margin: 20px 20px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}
.city-select{
    align-items: center;
    display: flex;
    justify-content: center;
}
.action-button {
    font-family: "Bebas Neue", sans-serif;
    background-color: #3e8c40;
    color: white;
    padding: 30px 170px;
    margin: 17px 0;
    border: none;
    border-radius: 5px;
    font-size: 30px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

.action-button:hover {
    background-color: #2d5c2e;
}