<!DOCTYPE html>
<html lang= xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title layout:fragment="title">Branch Details - Gym me more</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
<main layout:fragment="content">
    <a th:href="@{/home/branches/city/{city}(city=${branch.address.city})}" style="text-decoration: none; color: #6791b1;">
        <h3 style="display: inline-block;" th:text="'&larr;Back to branches in ' + ${branch.address.city}"> </h3>
    </a>
    <h1 class="branch-name" th:text="${branch.name}">Branch Name</h1>
    <p class="branch-info" th:text="${branch.description}">Branch description</p>
    <p class="branch-info" th:text="'Address: ' + ${branch.address.city} + ', ' + ${branch.address.street} + ' ' + ${branch.address.houseNumber}"></p>
    <th:block th:each="i : ${#numbers.sequence(1, 5)}">
        <img class="gym-img" th:if="${id == i}" th:src="@{'/' + ${i} + '.jpg'}" alt="gym img">
    </th:block>
    <form th:action="@{/home/branches/{id}/route(id=${id})}" method="post">
    <label style="color:white;" for="user-address">Enter your address:</label>
    <input type="text" id="user-address" name="userAddress" required>
    <button class="branches-button" type="submit">Calculate Route</button>
</form>

    <div th:if="${error}">
        <p style="color: red;" th:text="${error}"></p>
    </div>

    <div th:if="${route}">
        <h2 class="route-title">Route</h2>
        <pre style="color: white;" th:text="${route}"></pre>
        <img th:src="${mapUrl}" alt="Map showing route">
    </div>
</main>
</body>
</html>
