<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Group Schedule</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<main>
    <div class="schedule-container">
        <div class="navigation">
            <form th:action="@{/group-schedule}" method="get">
                <input type="hidden" name="startDate" th:value="${prevWeek}">
                <button type="submit">Previous Week</button>
            </form>
            <form th:action="@{/group-schedule}" method="get">
                <input type="hidden" name="startDate" th:value="${nextWeek}">
                <button type="submit">Next Week</button>
            </form>
        </div>
        <table>
            <thead>
            <tr>
                <th>Time</th>
                <th th:each="date : ${dates}" th:text="${#temporals.format(date, 'EEE dd MMM')}"></th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="hour : ${hours}">
                <td th:text="${hour}"></td>
                <td th:each="date : ${dates}">
                    <div th:if="${groupClassesMap[date + ' ' + hour] != null}">
                        <span th:text="${groupClassesMap[date + ' ' + hour].classType.name}"></span>
                        <form th:action="@{/sign-up}" method="post">
                            <input type="hidden" name="classId" th:value="${groupClassesMap[date + ' ' + hour].id}">
                            <button type="submit">Sign Up</button>
                        </form>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</main>
</body>
</html>
