<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head layout:fragment="myHead">
    <meta charset="UTF-8">
    <title layout:title-pattern="CONTENT_TITLE"></title>
    <link rel="stylesheet" type="text/css" th:href="@{/styles.css}" href="../static/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body>
<header th:replace="~{fragments :: myHeader}"></header>

<main layout:fragment="content"></main>

<header th:replace="~{fragments :: myFooter}"></header>
</body>
</html>