<!DOCTYPE html>
<html lang= "eng" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title layout:fragment="title">Leave a review - Gym me more</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body class="body">
<main layout:fragment="content">
<h1  style="color:white;">Leave a Review</h1>
<div th:if="${message}">
    <p th:text="${message}"></p>
</div>
<ul th:if="${reviews}">
    <li th:each="review : ${reviews}">
        <p th:text="${review.scheduledDate + ' ' + review.className}"></p>
        <form th:action="@{/account/submit-review}" method="post">
            <input type="hidden" name="clientId" th:value="${clientId}">
            <input type="hidden" name="classId" th:value="${review.classId}">
            <label for="rating">Rating:</label>
            <input type="number" id="rating" name="rating" min="1" max="5" required>
            <label for="feedback">Feedback:</label>
            <textarea id="feedback" name="feedback"></textarea>
            <button type="submit">Submit Review</button>
        </form>
    </li>
</ul>
</main>
</body>
</html>
