
<!DOCTYPE html>
<html lang= xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title layout:fragment="title">Login - Gym me more</title>
    <link rel="stylesheet" th:href="@{/styles.css}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet">
</head>
<body class="body">
<main layout:fragment="content">
    <div class="form-container">
        <form class="form" th:action="@{/login}" method="post" th:object="${client}">
            <label for="username">Enter username:</label>
            <input id="username" name="username" th:field="*{username}" required>
            <label for="password">Enter password:</label>
            <input id="password" name="password" th:field="*{password}" required>
            <div th:if="${error}">
                <p style="color: red;" th:text="${error}"></p>
            </div>
            <button class="membership-button" type="submit">Login</button>
        </form>
    </div>
</main>
</body>
</html>
